<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>Lunchbox</string>
     <key>CFBundleIdentifier</key>
     <string>ch.eyescale.lunchbox</string>
     <key>CFBundleVersion</key>
     <string>1.9.0</string>
     <key>DocSetFeedName</key>
     <string>Lunchbox Documentation</string>
     <key>DocSetPublisherIdentifier</key>
     <string>ch.eyescale.lunchbox.documentation</string>
     <key>DocSetPublisherName</key>
     <string>Eyescale</string>
     <key>DashDocSetFamily</key>
     <string>doxy</string>
     <key>DocSetPlatformFamily</key>
     <string>doxygen</string>
</dict>
</plist>
