table
{
    font-family: Georgia, Garamond, Palatino, Times, Arial;
    font-size: small;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table th
{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table td
{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    text-align: center;
}
A
{
    text-decoration: none;
}
A:hover
{
    text-decoration: underline;
}

h1 {
    text-align: center;
}

div.toc {
    position: fixed;
    left: 0;
    top: 0;
    float: left;
    width: 10em;
    height: 100%;
    padding: 5px;
    border-right: 1px solid black;
    background-color: #dddddd;
}
div.badges {
    float: right;
}
div.content {
    margin-top: 0px;
    margin-left: 10em;
    margin-right: 10px;
    margin-bottom: 4ex;
    padding-left: 1em;
}
div.flush
{
    clear: both;
}
